// Fonts
@import url("https://fonts.bunny.net/css?family=Nunito");

// Variables
@import "variables";

// Bootstrap
@import "bootstrap/scss/bootstrap";

.navbar-logo {
    width: 50px;
}

.card {
    transition: transform 0.1s;
}

.card:hover {
    transform: scale(1.1);
}

.fa-star {
    color: rgb(228, 186, 0);
}
