// Fonts
@import url("https://fonts.bunny.net/css?family=Nunito");

// Variables
@import "variables";

// Bootstrap
@import "bootstrap/scss/bootstrap";

.navbar-logo {
    width: 50px;
}

.zoom {
    transition: transform 0.2s;
}

.zoom:hover {
    transform: scale(1.1);
}

.fa-star {
    color: rgb(228, 186, 0);
}

#platform-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 476px;
}

.platform-title {
    font-size: 6rem;
}
